<p>
  <strong>Image:</strong>
  <%= @bueller.image %> 
</p>
 
<p>
  <strong>Name:</strong>
  <%= @bueller.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @bueller.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @bueller.email %>
</p>
 

 
<%= link_to 'Edit Student', edit_bueller_path(@bueller) %> |
<%= link_to 'Back to Students', bueller_path %>